/* import statements must come first https://developer.mozilla.org/en-US/docs/Web/CSS/@import*/
@import "../bootstrap4/css/bootstrap.css";
@import "../bootstrap4/css/bootstrap-grid.css";
@import "../bootstrap4/css/bootstrap-reboot.css";


/* my custom styles*/

body {
  margin: 1vh 3vw;
}
h1, h3 {
  text-align: center;
}
/*bootstrap table responsive bug? */
.table-responsive {
  display: table;
}

.formError {
  color: red;
}

#overlay {
  position: fixed;
  width: 10%;
  height: 10%;
}

#cat-view {
  padding-bottom: 3vh;
  margin: auto;
}
#cat-view .nav-link {
  display: inline;
  margin: auto;
}

#posts-view {
  width: 90vw;
  margin: auto;
  font-size: smaller;
}

.commentForm-view {
  padding-bottom: 5vh;
  background-color: #9fcdff;
}

.btn:hover {
  cursor: pointer;
}


.singlePost-view {
  width: 75vw;
  margin: auto;
  font-size: smaller;
}

.comments-total {
  color: #007bff;
}

.post-votes {
  text-align: right;
}

.table-info {
  font-size: x-small;
}

.comments-info {
  margin-bottom: 2vh;
}

.comment-text {
  padding-top: 1vh;
  font-size: small;
  border-top: dashed;
}

.comment-text > .comment-author {
  text-align: left;
}

.comment-text > .comment-body {
  text-align: left;
}

.voting:hover {
 background-color: #28a745;
  cursor: pointer;
}

.posted:hover {
  background-color: #28a745;
  cursor: pointer;
}

.sorting:hover {
  background-color: #17a2b8;
  cursor: pointer;
}


