/* import statements must come first https://developer.mozilla.org/en-US/docs/Web/CSS/@import*/
@import "../bootstrap4/css/bootstrap.css";
@import "../bootstrap4/css/bootstrap-grid.css";
@import "../bootstrap4/css/bootstrap-reboot.css";


/* my custom styles*/
/*#cat-list li {*/
  /*display: inline;*/
  /*list-style-type: none;*/
  /*padding-right: 20px;*/
/*}*/

/*why does bootstrap4 set nav to block y default?*/
#cat-view {
  padding-bottom: 3vh;
  margin: auto;
}
#cat-view .nav-link {
  display: inline;
  margin: auto;
}

#posts-view {
  width: 90vw;
  margin: auto;
  font-size: smaller;
}

.btn:hover {
  cursor: pointer;
}


/*.editPost-view {*/
  /*width: 75vw;*/
  /*margin: auto;*/
  /*font-size: smaller;*/
/*}*/
/*.newPostForm-container {*/
  /*width: 75vw;*/
  /*margin: auto;*/
  /*font-size: smaller;*/
/*}*/

.singlePost-view {
  width: 75vw;
  margin: auto;
  font-size: smaller;
}

.post-votes {
  text-align: right;
}

.table-info {
  font-size: x-small;
}


.comment-text {
  font-size: small;
  border-bottom: dashed;
}

.comment-text > .comment-author {
  text-align: left;
}

.comment-text > .comment-body {
  text-align: left;
}

.voting:hover {
 background-color: #28a745;
  cursor: pointer;
}

.sorting:hover {
  background-color: #17a2b8;
  cursor: pointer;
}

/*below is default code from create-react-app*/
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
